<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/myspace.css">
</head>

<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="index.html"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a href="board.html">게시판</a></li>
                <li><a href="Q&A.html">Q&A</a></li>
                <li><a href="A&Q.html">공지사항</a></li>
                <li><a href="myspace.html">내공간</a></li>
                <li><a href="point.html">포인트충전</a></li>
                <li><a href="message.html">쪽지</a></li>
            </ul>
        </nav>
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="../img/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="../img/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="../img/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login">로그인</a></li>
                <li><a id="open-signup">회원가입</a></li>
            </ul>
        </nav>
    </div>

    <!--content-->
    <nav class="subnavbar">
        <div class="box">
            <ul>
                <li class="user-img"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="30px" height="30px"></li>
                <li class="text">유저000</li>
                <li class="text">gold</li>
                <li class="star"><img src="../img/star.png" alt="" width="30px" height="30px"></li>
            </ul>
        </div>
        <div class="box">
            <h1>내공간</h1>
        </div>
        <div>
            <h4>즐겨찾는사람 : 200명</h4>
        </div>
    </nav>
    <div class="line">
    </div>
    <div class="content">
        <div class="div-content">
            <h1>소개</h1>
            <div class="content-introduce"></div>
        </div>
        <div class="div-content">
            <h1>게시글</h1>
            <div class="content-board"></div>
        </div>
        <div class="div-content">
            <h1>댓글 내역</h1>
            <div class="content-chat"></div>
        </div>
        <div class="div-content">
            <h1>즐겨찾기</h1>
            <div class="content-bookmark"></div>
        </div>
    </div>
</body>

</html>