<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/boardlist.css">
</head>

<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="../index/index.html"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a href="../board/board.html">게시판</a></li>
                <li><a href="../board/Q&A.html">Q&A</a></li>
                <li><a href="../board/A&Q.html">공지사항</a></li>
                <li><a href="../mypage/myspace.html">내공간</a></li>
                <li><a href="point.html">포인트충전</a></li>
                <li><a href="message.html">쪽지</a></li>
            </ul>
        </nav>
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="../../static/img/server_img/icon/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="../../static/img/server_img/icon/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="../../static/img/server_img/icon/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login">로그인</a></li>
                <li><a id="open-signup">회원가입</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-header">
        <div class="content-header-box">
            <h1>A&Q</h1>
            <button id="registration" onclick="location.href='A&Qpostpage.html' ">게시물 등록</button>
        </div>
    </div>
    <div class="content-body">
        <div class="box-top">
            <div class="box-left">
                <div class="userimg">
                    <img src="../img/userimg.png" alt="" width="40px" height="40px">
                </div>
                <div class="username">
                    <p>유저닉네임</p>
                </div>
                <div class="category">
                    <p>#JAVA #html</p>
                </div>
            </div>
            <div class="box-right">
                <div class="urlimg"><img src="../img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="shareimg"><img src="../img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="recommendation"><img src="../img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="notrecommendation"><img src="../img/userimg.png" alt="" width="30px" height="30px"></div>
                <div class="report"><img src="../img/userimg.png" alt="" width="30px" height="30px"></div>
            </div>
        </div>
        <div class="box-title">
            <div>
                <div class="box-left">
                    <div class="title">
                        <h1>제목</h1>
                    </div>
                </div>
                <div class="box-right">
                    <div class="modify-button">
                        <button>수정</button>
                    </div>
                    <div class="delete-button">
                        <button>삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eius, maiores corporis natus
                    repellendus totam neque aspernatur illo amet asperiores rerum, provident architecto nostrum. Magnam
                    molestias facilis sunt repudiandae laboriosam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere velit atque magni nobis
                    modi vitae vel unde debitis sed ipsa, delectus necessitatibus rem id perspiciatis quam saepe autem
                    voluptate.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="content-comments">
        <div class="box-top">
            <div class="box-left">
                <p>댓글 수 : 2개</p>
            </div>
        </div>
        <div class="box-write">
            <div class="box-write-top">
                <div class="box-left">
                    <div class="userimg">
                        <img src="../img/userimg.png" alt="" width="40px" height="40px">
                    </div>
                    <div class="username">
                        <p>유저네임</p>
                    </div>
                </div>
                <div class="box-right">
                    <div><button>댓글 쓰기</button></div>
                </div>
            </div>
            <div class="box-write-bottom">
                <div class="comment-box">
                    <p><textarea cols="150" rows="5"></textarea></p>
                </div>
            </div>
        </div>
        <div class="box-comments-list">
            <div class="box-write-top">
                <div class="box-left">
                    <div class="userimg">
                        <img src="../img/userimg.png" alt="" width="40px" height="40px">
                    </div>
                    <div class="username">
                        <p>유저네임</p>
                    </div>
                </div>
            </div>
            <div class="box-write-bottom">
                <div class="comment-box">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, voluptatum deleniti ipsa porro totam, ex temporibus minus voluptatibus tempore aliquam, fugiat error esse quidem numquam. Quia totam at earum soluta!</p>
                </div>
            </div>
            <div class="box-button">
                <div><button>댓글 쓰기</button></div>
            </div>
        </div>
    </div>
</body>

</html>