<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/postpage.css">
</head>
<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="../index/index.html"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a href="../board/board.html">게시판</a></li>
                <li><a href="../board/Q&A.html">Q&A</a></li>
                <li><a href="../board/A&Q.html">공지사항</a></li>
                <li><a href="../mypage/myspace.html">내공간</a></li>
                <li><a href="point.html">포인트충전</a></li>
                <li><a href="message.html">쪽지</a></li>
            </ul>
        </nav>
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="../../static/img/server_img/icon/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="../../static/img/server_img/icon/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="../../static/img/server_img/icon/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login">로그인</a></li>
                <li><a id="open-signup">회원가입</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-header">
        <div class="content-header-box">
            <h1>게시물 등록</h1>
    </div>
    <div class="content-body">
        <div class="text">
            <p>제목</p>
        </div>
        <div class="content">
            <input type="text" name="" id="">
        </div>
        <div class="text">
            <p>태그</p>
        </div>
        <div class="content">
            <input type="text" name="" id="">
        </div>
        <div class="text">
            <p>가격</p>
        </div>
        <div class="content">
            <input type="text" name="" id="">
        </div>
        <div class="text">
            <p>본문</p>
        </div>
        <div class="maincontent">
            <input type="text" name="" id="">
        </div>
        <div class="button">
            <div><button onclick="location.href='Q&A.html' ">취소</a></button></div>
            <div class="postbutton"><button>등록</button></div>
        </div>
    </div>
</body>
</html>