<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="index.html"><img src="../img/icon-ga9dcd7e34_640.png" alt="apple" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a href="../board/board.html">게시판</a></li>
                <li><a href="../board/Q&A.html">Q&A</a></li>
                <li><a href="../board/A&Q.html">공지사항</a></li>
                <li><a href="../mypage/myspace.html">내공간</a></li>
                <li><a id="open-point">포인트충전</a></li>
                <li><a href="../note/message.html">쪽지</a></li>
            </ul>
        </nav>
         <!-- <li><a href="#" onclick="window.open('http://localhost:5001/','blank','width=450 , height=700, top=400, left=900', true)">쪽지</a></li> -->
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="../img/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="../img/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="../img/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login">로그인</a></li>
                <li><a id="open-signup">회원가입</a></li>
            </ul>
        </nav>
    </div>
    <!--로그인-->
    <div class="login hidden">
        <div class="login_overlay"></div>
        <div class="login_content">
            <button>X</button>
            <div class="login-wrapper">
                <h2>로그인</h2>
                <form method="post" action="#" id="login-form">
                    <input type="text" name="userID" placeholder="ID">
                    <input type="password" name="userPassword" placeholder="Password">
                    <input type="submit" value="Login">
                </form>
                <div class="login-wrapper-bottom">
                    <ul>
                        <li><a id="open-signup">회원가입</a></li>
                        <li><a href="">비밀번호찾기</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--회원가입-->
    <div class="signup hidden">
        <div class="signup_overlay"></div>
        <div class="signup_content">
            <button>X</button>
            <div class="signup-wrapper">
                <h2>회원가입</h2>
                <form name="signup-form" id="signup-form" action="#" method="post">
                    <div class="form-group">
                        <label for="user_id">
                            아이디 <span class="identify">*</span>
                        </label>

                        <div>
                            <input type="text" name="user_id" id="user_id" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user_pw">
                            비밀번호 <span class="identify">*</span>
                        </label>
                        <div>
                            <input type="password" name="user_pw" id="user_pw" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user_pw">
                            비밀번호 확인 <span class="identify">*</span>
                        </label>
                        <div>
                            <input type="password" name="user_pw_re" id="user_pw_re" />
                        </div>
                    </div>
                    <br>
                    <div class="form-group">

                        <label for="user_name">
                            이름 <span class="identify">*</span>
                        </label>

                        <div>
                            <input type="text" name="user_name" id="user_name" />
                        </div>

                    </div>
                    <br>
                    <div class="form-group">

                        <label for="email">
                            이메일
                        </label>

                        <div>
                            <input type="text" name="email" id="email" />
                        </div>

                    </div>
                    <br>
                    <div class="form-group">

                        <label for="tel">
                            연락처
                        </label>

                        <div>
                            <input type="text" name="tel" id="tel" />
                        </div>

                    </div>
                    <br>
                    <div class="form-group">

                        <label for="gender1">
                            권한 <span class="identify">*</span>
                        </label>

                        <div>
                            <label>
                                <input type="radio" name="gender" id="gender1" value="M" />
                                관리자
                                <input type="radio" name="gender" id="gender2" value="F" />
                                일반
                                <input type="radio" name="gender" id="gender2" value="F" />
                                선생
                            </label>
                        </div>

                    </div>
                    <br>
                    <div class="form-group">
                        <div class="form-button">
                            <button type="submit">가입하기</button>
                            <button type="reset">다시 작성</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
     <!--포인트-->
     <div class="point hidden">
        <div class="point_overlay"></div>
        <div class="point_content">
            <button>X</button>
            <div class="point-wrapper">
                <div class="box-title">
                    <div class="box-title-point">
                        <h1>포인트</h1>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-left">
                        <h3>포인트</h3>
                    </div>
                    <div class="box-right">
                        <p>10,000원</p>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-left">
                        <h3>등급</h3>
                    </div>
                    <div class="box-right">
                        <p id="rank">실버</p>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-button">
                        <button>결제내역</button>
                        <button>충전하기</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--중간 body-content-->
    <div class="body-content">
        <div class="content-box1">
        </div>
        <div class="content-box2"></div>
        <div class="content-box3"></div>
        <div class="content-box4"></div>
    </div>
    <!--메인바 공통-->
    <div class="bar">
        <div class="mainbar">
            <ul>
                <li class="media"><a href="board.html"><img src="../img/1board.png" alt="" width="48px"
                            height="48px"></a></li>
                <li class="media"><a href="Q&A.html"><img src="../img/2Q&A.png" alt="" width="48px" height="48px"></a>
                </li>
                <li class="media"><a href="A&Q.html"><img src="../img/4notice.png" alt="" width="48px"
                    height="48px"></a></li>
                <li class="media"><a href="myspace.html"><img src="../img/3my.png" alt="" width="48px"
                            height="48px"></a></li>
                <li><a href="#" id="open-point"><img src="../img/5point.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="message.html"><img src="../img/6message.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="" onclick="window.open('../icon.html/icon7.html','blank','width=250 , height=400, top=200, left=700', true)"><img src="../img/7.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="" onclick="window.open('../icon.html/icon8.html','blank','width=250 , height=400, top=200, left=700', true)"><img src="../img/8.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="" onclick="window.open('../icon.html/icon9.html','blank','width=250 , height=400, top=200, left=700', true)"><img src="../img/9.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/10.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="" onclick="window.open('../icon.html/icon11.html','blank','width=250 , height=400, top=200, left=700', true)"><img src="../img/11.png" alt="" width="48px" height="48px"></a></li>
                <li><a href="" onclick="window.open('../icon.html/icon12.html','blank','width=250 , height=400, top=200, left=700', true)"><img src="../img/12.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/13.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/14.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/15.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/16.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/17.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/18.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/19.png" alt="" width="48px" height="48px"></a></li>
                <li><a href=""><img src="../img/20.png" alt="" width="48px" height="48px"></a></li>
                <li class="media"><a href=""><img src="../img/21.png" alt="" width="48px" height="48px"></a></li>
            </ul>
        </div>
    </div>
    <script>
        const loginopenButton = document.getElementById("open-login");
        const loginmodal = document.querySelector(".login");
        const loginoverlay = loginmodal.querySelector(".login_overlay");
        const logincloseBtn = loginmodal.querySelector("button");
        const loginopenModal = () => {
            loginmodal.classList.remove("hidden");
        }
        const logincloseModal = () => {
            loginmodal.classList.add("hidden");
        }
        loginoverlay.addEventListener("click", logincloseModal);
        logincloseBtn.addEventListener("click", logincloseModal);
        loginopenButton.addEventListener("click", loginopenModal);
        
        
        const signupopenButton = document.getElementById("open-signup");
        const signupmodal = document.querySelector(".signup");
        const signupoverlay = signupmodal.querySelector(".signup_overlay");
        const signupcloseBtn = signupmodal.querySelector("button");
        const signupopenModal = () => {
            signupmodal.classList.remove("hidden");
            loginmodal.classList.add("hidden");
        }
        const signupcloseModal = () => {
            signupmodal.classList.add("hidden");
        }
        signupoverlay.addEventListener("click", signupcloseModal);
        signupcloseBtn.addEventListener("click", signupcloseModal);
        signupopenButton.addEventListener("click", signupopenModal);

        const pointopenButton = document.getElementById("open-point");
        const pointmodal = document.querySelector(".point");
        const pointoverlay = pointmodal.querySelector(".point_overlay");
        const pointcloseBtn = pointmodal.querySelector("button");
        const pointopenModal = () => {
            pointmodal.classList.remove("hidden");
        }
        const pointcloseModal = () => {
            pointmodal.classList.add("hidden");
        }
        pointoverlay.addEventListener("click", pointcloseModal);
        pointcloseBtn.addEventListener("click", pointcloseModal);
        pointopenButton.addEventListener("click", pointopenModal);
        
        
        </script>

    <footer>
        <div class="footer-bar">
            <ul>
                <li class="icon-left"><a href="board.html" ><img src="../img/1board.png" alt="" width="70px"
                            height="70px"></a></li>
                <li class="icon-left"><a href=""><img src="../img/2Q&A.png" alt="" width="70px"
                            height="70px"></a></li>
                <li class="icon-left"><a href=""><img src="../img/3my.png" alt="" width="70px"
                            height="70px"></a></li>
                <li><a href=""><img src="../img/4notice.png" alt="" width="70px"
                            height="70px"></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>