<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/message.css">
</head>

<body>
    <div class="innerHeader">
        <h1 class="logo"><a href="index.html"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="30px"
                    height="30px"></a></h1>
        <!--왼쪽바 공통-->
        <nav class="mainmenu-left">
            <ul class="navbar">
                <li><a href="board.html">게시판</a></li>
                <li><a href="Q&A.html">Q&A</a></li>
                <li><a href="A&Q.html">공지사항</a></li>
                <li><a href="myspace.html">내공간</a></li>
                <li><a href="point.html">포인트충전</a></li>
                <li><a href="message.html">쪽지</a></li>
            </ul>
        </nav>
        <!--오른쪽바 공통-->
        <nav class="mainmenu-right">
            <ul class="navbar">
                <li><img src="../img/battery.png" alt="" width="30px" height="25px"></li>
                <li><img src="../img/wifi.png" alt="" width="20px" height="25px"></li>
                <li><img src="../img/siri.png" alt="" width="20px" height="25px"></li>
                <li><a id="open-login">로그인</a></li>
                <li><a id="open-signup">회원가입</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-body">
        <div class="content-header-box">
            <div class="content-body-left">
                <div class="content-body-left-header">
                    <h1>쪽지</h1>
                    <button id="registration">작성</button>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                <div class="content-body-left-body">
                    <div class="content-box">
                        <div class="content-userimg"><img src="../img/icon-ga9dcd7e34_640.png" alt="" width="40px" height="40px"></div>
                        <div class="content-username">유저000</div>
                        <div class="content-time">5분전</div>
                        <div class="content-delete"><button>삭제</button></div>
                    </div>
                </div>
                
            </div>
            <div class="content-body-right">
                <div class="content-body-right-box">
                    <h1>작성</h1>
                    <div class="box-top">
                        <div class="user-title"><h2>유저닉네임</h2></div>
                        <div class="user-content"><p>user000</p></div>
                    </div>
                    <div class="box-bottom">
                        <div class="user-title"><h2>내용</h2></div>
                        <div class="user-content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam itaque porro eos atque repellat odit voluptatibus soluta labore minima maiores, quia officia voluptatem incidunt a obcaecati accusantium, qui nam debitis.</p></div>
                    </div>
                    <div class="box-post"><button>전송</button></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>