*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


/*상단 바*/
.innerHeader{
    max-width: 1720px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    background-color: rgb(34, 34, 34);
}
.innerHeader .logo{
    float: left;
}
.innerHeader .logo a{
    display: block;
    padding-left: 10px; 
}
/*상단 바 왼쪽*/
.innerHeader .mainmenu-left {
    float: left;
    overflow: hidden;
    position: relative;
}

.innerHeader .mainmenu-left .navbar {
    float: left;
}

.innerHeader .mainmenu-left .navbar li {
    float: left;
    margin: 2px 15px;
}

.innerHeader .mainmenu-left .navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: bolder;
}

.innerHeader .mainmenu-left .navbar li a:hover {
    font-size: 14px;
}

/*상단 바 오른쪽*/
.innerHeader .mainmenu-right {
    float: right;
    overflow: hidden;
    position: relative;
}

.innerHeader .mainmenu-right .navbar {
    float: left;
}

.innerHeader .mainmenu-right .navbar li {
    float: left;
}

.innerHeader .mainmenu-right .navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 2px 15px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.innerHeader .mainmenu-right .navbar li a:hover {
    font-size: 14px;
}

.innerHeader .mainmenu-right .navbar li img {
    display: block;
    margin: 2px 10px 0px;
}

/*content-header*/
.content-header{
    padding-top: 10px;
    border: 1px solid red;
    max-width: 1920px;
    height: 120px;
}
.content-header .content-header-box{
    width: 1500px;
    height: 70px;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.content-header .content-header-box h1{
    text-align: center;
    font-size: 40px;
}

/*content-body*/
.content-body{
    margin-top: 50px;
    width: 1200px;
    max-height: 1020px;
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
}
.content-body .text{
    width: 900px;
    height: 30px;

    margin: auto;
    margin-top: 20px;
}
.content-body .text p{
    margin-left: 10px;
}
.content-body .content{
    width: 900px;
    height: 50px;

    margin: auto;
    margin-top: 20px;
}
.content-body .content input{
    width: 900px;
    height: 30px;
}
.content-body .maincontent input{
    width: 900px;
    height: 300px;
}
.content-body .maincontent{
    width: 900px;
    height: 300px;
 
    margin: auto;
    margin-top: 20px;
}
.content-body .button{
    width: 900px;
    height: 50px;

    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.content-body .button div{
    float: right;
}
.content-body .button div button{
    width: 80px;
    height: 30px;
}
.content-body .button .postbutton{
    margin-right: 30px;
}